<section class="about">
    <div class="content">
        <div class="inner">
            <h2>Erik Eng</h2>
            {% if page.lang == 'en' %}
                <ul>
                    <li>Engineer at <a href="http://tictail.com/">Tictail</a></li>
                    <li>Likes <a href="http://www.opendata.se/">open data</a></li>
                    <li>Contributing to <a href="https://github.com/{{ site.accounts.github }}" rel="me">open source</a></li>
                </ul>
            {% else %}
                <ul>
                    <li>Utvecklare på <a href="http://tictail.com/">Tictail</a></li>
                    <li>Gillar <a href="http://www.opendata.se/">öppen data</a></li>
                    <li>Bidrar till <a href="https://github.com/{{ site.accounts.github }}" rel="me">öppen källkod</a></li>
                </ul>
            {% endif %}
            <ul class="links">
                <li><a href="https://twitter.com/{{ site.accounts.twitter }}" class="twitter" rel="me">Twitter</a></li>
                <li><a href="https://github.com/{{ site.accounts.github }}" class="github" rel="me">Github</a></li>
                <li><a href="http://dribbble.com/{{ site.accounts.dribbble }}" class="dribbble" rel="me">Dribbble</a></li>
                <li><a href="https://plus.google.com/{{ site.accounts.google }}/" class="google" rel="me">Google Plus</a></li>
            </ul>
        </div>
    </div>
</section>