<section class="about">
    <div class="content">
        <div class="inner">
            <h2>Erik Eng</h2>
            <ul>
                <li>Utvecklare på <a href="http://karlssonlord.com/" title="Ehandelsutveckling med Magento">Karlsson &amp; Lord</a></li>
                <li>Gillar <a href="http://www.opendata.se/">öppen data</a></li>
                <li>Bidrar till <a href="https://github.com/{{ site.github }}" rel="me">öppen källkod</a></li>
            </ul>
            <ul class="links">
                <li><a href="https://twitter.com/{{ site.twitter }}" class="twitter" rel="me">Twitter</a></li>
                <li><a href="https://github.com/{{ site.github }}" class="github" rel="me">Github</a></li>
                <li><a href="http://dribbble.com/{{ site.dribbble }}" class="dribbble" rel="me">Dribbble</a></li>
                <li><a href="https://plus.google.com/{{ site.google }}/" class="google" rel="me">Google Plus</a></li>
            </ul>
        </div>
    </div>
</section>