::selection {
    background: #999;
    color: #222;
    text-shadow: none;
}

/* LINKS ------------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: #12c;
    border-bottom: 1px solid #12C;

    &:hover,
    &:focus,
    &:active {
        color: #c00;
        border-color: #c00;
        outline: 0;
    }
}

[role=banner],
[role=contentinfo],
.about {
    a {
        border: 0;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            color: #eee;
        }
    }

    ::selection {
        background: #ccc;
        color: #fff;
    }
}

h1,
h2,
h3,
h4 {
    a {
        border: 0;
        color: #333;

        &:hover,
        &:focus,
        &:active {
            color: #111;
        }
    }
}

/* NAVIGATION -------------------------------------------------------------------- */

[role=navigation] {
    float: right;
}

/* ALERTS ------------------------------------------------------------------------ */

.alert {
    background: #cc0000;
    color: #ffcccc;

    strong {
        color: #fff;
    }

    a {
        color: #ffe6e6;
        border-color: #ffe6e6;

        &:hover,
        &:focus {
            color: #fff;
            border-color: #fff;
        }
    }
}

/* BUTTONS ----------------------------------------------------------------------- */

button,
.button,
input[type=submit] {
    @include inline-block();
    background: #ccc;
    color: #333;
    padding: .4em .8em;
    border: 1px solid #888;
    border-top-color: #999;
    border-bottom-color: #777;
    @include border-radius(3px);
    @include text-shadow(rgba(255, 255, 255, .4) 0 1px 0);

    &:hover,
    &:focus {
        background: #bbb;
        color: #000;
    }
}

/* SOCIAL LINKS ------------------------------------------------------------------ */

.links {
    li {
        @include inline-block;
        margin-right: .5em;
    }

    a {
        display: block;
        border: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999em;
        background-position: center;
        background-repeat: no-repeat;

        &:hover,
        &:focus,
        &:active {
            @include opacity(0.7);
        }
    }

    .twitter {
        background-image: inline-image('../images/twitter.svg');
    }

    .dribbble {
        background-image: inline-image('../images/dribbble.svg');
    }

    .github {
        background-image: inline-image('../images/github.svg');
    }

    .google {
        background-image: inline-image('../images/googleplus.svg');
    }

    .instagram {
        background-image: inline-image('../images/instagram.svg');
    }
}

.flattr {
    border: 1px solid #82a255;
    border-top-color: #8fb15f;
    border-bottom-color: #728f4a;
    @include text-shadow(#728f4a 0 -1px 0);
    background: #91bc5d;
    color: #fff;
    padding: .4em .8em;

    &:hover,
    &:focus {
        border-color: #728f4a;
        color: #fff;
        background: #86ac57;
    }
}
