::selection {
    background: #999;
    color: #222;
    text-shadow: none;
}

/* LINKS ------------------------------------------------------------------------- */

a {
    text-decoration: none;
    color: #12c;
    border-bottom: 1px solid #12C;

    &:hover,
    &:focus,
    &:active {
        color: #c00;
        border-color: #c00;
        outline: 0;
    }
}

[role=banner],
[role=contentinfo],
.about {
    a {
        border: 0;
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            color: #eee;
        }
    }

    ::selection {
        background: #ccc;
        color: #fff;
    }
}

h1,
h2,
h3,
h4 {
    a {
        border: 0;
        color: #333;

        &:hover,
        &:focus,
        &:active {
            color: #111;
        }
    }
}

/* NAVIGATION -------------------------------------------------------------------- */

[role=navigation] {
    float: right;
}

/* ALERTS ------------------------------------------------------------------------ */

.alert {
    background: #cc0000;
    color: #ffcccc;

    strong {
        color: #fff;
    }

    a {
        color: #ffe6e6;
        border-color: #ffe6e6;

        &:hover,
        &:focus {
            color: #fff;
            border-color: #fff;
        }
    }
}

/* BUTTONS ----------------------------------------------------------------------- */



/* SOCIAL LINKS ------------------------------------------------------------------ */

.links {
    li {
        @include inline-block;
        margin-right: .5em;
    }

    a {
        display: block;
        border: 0;
        background: url('../images/icons.png');
        width: 32px;
        height: 32px;
        text-indent: -9999em;

        @include respond-to(retina) {
            background: url('../images/icons@2x.png');
            background-size: 143px 32px;
        }

        &:hover,
        &:focus,
        &:active {
            @include opacity(0.7);
        }
    }

    .dribbble {
        background-position: -42px 0;

        @include respond-to(retina) {
            background-position: -37px 0;
        }
    }

    .github {
        background-position: -84px 0;

        @include respond-to(retina) {
            background-position: -74px 0;
        }
    }

    .google {
        background-position: -126px 0;

        @include respond-to(retina) {
            background-position: -111px 0;
        }
    }
}

.flattr {
    border: 0;
}