img {
    max-width: 100%;

    &.left,
    &.right {
        max-width: 35%;
    }

    &.left {
        float: left;
        margin: 0 2em .5em -2em;
    }

    &.right {
        float: right;
        margin: 0 -2em .5em 1em;
    }

    &.center {
        display: block;
        margin: 0 auto;
        max-width: 70%;
    }
}