img {
    max-width: 100%;

    &.left,
    &.right {
        max-width: 35%;
    }

    &.left {
        float: left;
        margin: 0 2em .5em -2em;
    }

    &.right {
        float: right;
        margin: 0 -2em .5em 1em;
    }

    &.center {
        display: block;
        margin: 0 auto;
        max-width: 70%;
    }
}

#map {
    height: 300px;
}

.embed {
    position: relative;
    overflow: hidden;
    margin: 1em 0;
    height: 0;
    padding-bottom: 56.25%; /* 16/9 ratio */

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}