@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) { @content; }
    }
    @else if $media == landscape {
        @media screen and (min-width: 321px) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 768px) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 992px) { @content; }
    }
    @else if $media == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
               only screen and (-o-min-device-pixel-ratio: 3/2),
               only screen and (min--moz-device-pixel-ratio: 1.5),
               only screen and (min-device-pixel-ratio: 1.5) { @content; }
    }
}