body,
button,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    color: $color;
}

body {
    font-size: 14px;
    line-height: 1.61;
    font-weight: 400;
}

time {
    color: #999;
    display: block;
    margin-bottom: 1em;
}

/* LISTS ------------------------------------------------------------------------- */

ul,
ol {
    padding: 0;
}

/* BLOCKQUOTES ------------------------------------------------------------------- */

blockquote {
    margin: 0;
    font: italic 1.2em/1.4 Georgia, Times, serif;
    color: #555;

    &:before {
        position: absolute;
        margin: -.2em 0 0 -.55em;
        font-size: 3em;
        content: '\201C';
        color: #222;
    }
}